{% extends 'layout.html' %}
{% block content %}
<div class="card">
    <h2><i class="fas fa-book-open"></i> Free Telangana Textbooks</h2>
    <p>Yahan Telangana state ke class 1 se 12 tak ke textbooks free mein uplabdh hain.</p>
    <hr>
    <div class="link-list">
        <div class="link-item">
            <h4>SCERT Telangana – e-Textbooks</h4>
            <p>Official portal for Class 1 to 10 textbooks in PDF format.</p>
            <a href="https://scert.telangana.gov.in/e-Textbooks.htm" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
        <div class="link-item">
            <h4>SCERT Telangana – Text Books (I to X) PDF</h4>
            <p>Download draft and updated versions of textbooks.</p>
            <a href="https://scert.telangana.gov.in/DisplayImage.aspx?encry=2RWkzk1%2FeFem0408zPkW3g%3D%3D" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
        <div class="link-item">
            <h4>Manabadi – TS SCERT Books PDF</h4>
            <p>Textbooks for Class 1 to 10 in Telugu & English mediums.</p>
            <a href="https://www.manabadi.co.in/SCERT/telangana-scert.asp" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
        <div class="link-item">
            <h4>TOSS – Intermediate Textbooks</h4>
            <p>New syllabus textbooks for open school intermediate students.</p>
            <a href="https://www.telanganaopenschool.org/Intertextbooks.aspx" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
        <div class="link-item">
            <h4>TOSS – SSC Text Books</h4>
            <p>Textbooks for SSC (10th) for open school students.</p>
            <a href="https://www.telanganaopenschool.org/SSCTextBooks.aspx" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
        <div class="link-item">
            <h4>SelfStudys – Telangana Board Books</h4>
            <p>Links to free PDF textbooks for Class 1 to 10.</p>
            <a href="https://www.selfstudys.com/page/telangana-board-books" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
        <div class="link-item">
            <h4>Byju’s – Telangana SCERT Books</h4>
            <p>Download or view TS board textbooks for Classes 1-10.</p>
            <a href="https://byjus.com/telangana-board/ts-scert-books/" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
        <div class="link-item">
            <h4>Shiksha – TSBIE / Intermediate Books</h4>
            <p>PDF download options for Intermediate (11th / 12th) books.</p>
            <a href="https://www.shiksha.com/boards/tsbie-board-books" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
        <div class="link-item">
            <h4>TeluguVidya – SCERT Textbooks PDF</h4>
            <p>Updated syllabus SCERT books in PDF format.</p>
            <a href="https://www.teluguvidya.com/telangana-scert-textbooks/" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
        <div class="link-item">
            <h4>Open Textbook Library</h4>
            <p>Open educational resources with multiple free textbooks.</p>
            <a href="https://elibrarytelangana.blogspot.com/2020/07/open-text-book-librry.html" target="_blank" class="btn btn-primary">Visit Website &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}
